@model Sa3adaty.Core.ViewModels.Admin.Articles.ArticleViewModel

@{
    ViewBag.Title = "Edit Article";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section styles {
    <link href="@Url.Content("~/Content/bootstrap/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap/plugins/dataTables.bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Admin/jquery.tagit.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Admin/tagit.ui-zendesk.css")" rel="stylesheet" />
}


<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Edit Article</h1>
    </div>
</div>
 @using (Html.BeginForm("Edit", "AdminArticle", FormMethod.Post, new { novalidate = "novalidate" ,onsubmit = "setFormSubmitting()"}))
 {
     @Html.HiddenFor(a=> a.ArticleId)
<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                Article Basic Info
            </div>
            <div class="panel-body">
                <div class="form-group">
                    @Html.LabelFor(m=>m.Title) <i class="fa fa-info-circle hint-icon" data-toggle="popover" data-html="true" title="Title Hints" 
                        data-content="- Include Keyword <br />- Make it readable to the user <br />  - You can use any characters"></i>
                    @Html.TextBoxFor(m=> m.Title,new { @class="form-control",required="required"})
                </div>
                <div class="form-group">
                    @Html.LabelFor(m=>m.URL) <i class="fa fa-info-circle hint-icon" data-toggle="popover" data-html="true" title="URL Hints" 
                        data-content="- Smaller is the better <br />  - Include Keyword <br /> - Use only letters and numbers and '-'"></i>
                    @Html.TextBoxFor(m=> m.URL,new { @class="form-control",required="required"})
                </div>
                
                <div class="form-group">
                    @Html.LabelFor(m=>m.Description)
                    <i class="fa fa-info-circle hint-icon" data-toggle="popover" data-html="true" title="Description Hints" 
                        data-content="- Include Keyword at least Three Times <br />- You can use many variation of the Keyword"></i>
	                <div class="btn-toolbar" data-role="editor-toolbar" data-target="#editor">
					    @*<div class="btn-group">
						    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown"
							    title="Font"><i class="fa fa-font"></i><b class="caret"></b>
						    </a>
						    <ul class="dropdown-menu">
						    </ul>
					    </div>*@

                        <div class="btn-group">
						    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown"
							    title="Heading"><i class="fa fa-header"></i><b class="caret"></b>
						    </a>
						    <ul class="dropdown-menu">
						    </ul>
					    </div>
					   @* <div class="btn-group">
						    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown"
							    title="Font Size"><i class="fa fa-text-height"></i>&nbsp;<b
							    class="caret"></b>
						    </a>
						    <ul class="dropdown-menu">
							    <li><a data-edit="fontSize 5"><font size="5">Huge</font></a></li>
							    <li><a data-edit="fontSize 3"><font size="3">Normal</font></a></li>
							    <li><a data-edit="fontSize 1"><font size="1">Small</font></a></li>
						    </ul>
					    </div>*@
					    <div class="btn-group">
						    <a class="btn btn-default" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="fa fa-bold"></i></a>
						    <a class="btn btn-default" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="fa fa-italic"></i></a>
						    <a class="btn btn-default" data-edit="strikethrough" title="Strikethrough"><i class="fa fa-strikethrough"></i></a>
						    <a class="btn btn-default" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="fa fa-underline"></i></a>
					    </div>
					    <div class="btn-group">
						    <a class="btn btn-default" data-edit="insertunorderedlist" title="Bullet list"><i class="fa fa-list-ul"></i></a>
						    <a class="btn btn-default" data-edit="insertorderedlist" title="Number list"><i class="fa fa-list-ol"></i></a>
						    <a class="btn btn-default" data-edit="outdent" title="Reduce indent (Shift+Tab)"><i class="fa fa-outdent"></i></a>
						    <a class="btn btn-default" data-edit="indent" title="Indent (Tab)"><i class="fa fa-indent"></i></a>
					    </div>
					    <div class="btn-group">
						    <a class="btn btn-default" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i class="fa fa-align-left"></i></a>
						    <a class="btn btn-default" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i class="fa fa-align-center"></i></a>
						    <a class="btn btn-default" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i class="fa fa-align-right"></i></a>
						    <a class="btn btn-default" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i class="fa fa-align-justify"></i></a>
					    </div>
					    <div class="btn-group">
						    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Hyperlink"><i class="fa fa-link"></i></a>
						    <div class="dropdown-menu input-append">
							    <input class="span2" placeholder="URL" type="text" data-edit="createLink" />
							    <button class="btn" type="button">Add</button>
						    </div>
					    </div>

					    <div class="btn-group">
						    <a class="btn btn-default" data-edit="unlink" title="Remove Hyperlink"><i class="fa fa-unlink"></i></a>
						    <a class="btn btn-default" title="Insert picture (or just drag & drop)" id="pictureBtn"> <i class="fa fa-picture-o"></i>
							    <input type="file" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage" /></a>
					    </div>
					    <div class="btn-group">
						    <a class="btn btn-default" data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i class="fa fa-undo"></i></a>
						    <a class="btn btn-default" data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><i class="fa fa-repeat"></i></a>
					    </div>
					    <div class="btn-group">
						    <a class="btn btn-default" data-edit="removeFormat null null" title="Remove Format"><i class="fa fa-file-o"></i></a>
					    </div>
                        <textarea class="hidden" name="Description" id="content_description" data-target="content"></textarea>
				    </div>
                    <div id="editor" class="lead wysiwygeditor" >@Html.Raw(Model.Description)</div>
                </div>

                <div class="form-group">
                    <span onclick="$('.preview').toggle()" style="cursor:pointer;">Preview</span>
                    <div class="preview" style="display:none;">@Html.Raw(Model.Description)</div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                Images
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <input type="button" class="btn btn-outline btn-primary btn-xs" data-toggle="modal" data-target="#imageModel" value="Add New Image"/>
                </div>
                <div class="form-group" id="Images_div">
                        @Html.Action("_ArticleImages","AdminArticle", new { ArticleId = Model.ArticleId })
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                SEO
            </div>
            <div class="panel-body">
                <div class="form-group">
                    @Html.LabelFor(m=>m.MetaTitle)  (<span id="mt_counter">@(50-Model.MetaTitle.Length)</span>) <span>characters remaining</span>
                    <i class="fa fa-info-circle hint-icon" data-toggle="popover" data-html="true" title="Meta Title Hints" 
                        data-content="- Include Keyword at least once <br />- Make keyword closer to the begining of the sentence <br /> -Make it readable and friendly to the users"></i>
                    @Html.TextBoxFor(m=> m.MetaTitle,new { @class="form-control",onkeyup="textCounter(this,'mt_counter',50)"})
                </div>
                <div class="form-group">
                    @Html.LabelFor(m=>m.MetaDescription)  (<span id="md_counter">@(155-Model.MetaDescription.Length)</span>) <span>characters remaining</span>
                    <i class="fa fa-info-circle hint-icon" data-toggle="popover" data-html="true" title="Meta Description Hints" 
                        data-content="- Include Keyword at least once <br /> - Make it attractive to the user"></i>
                    @Html.TextBoxFor(m=> m.MetaDescription,new { @class="form-control",onkeyup="textCounter(this,'md_counter',155)"})
                </div>
            </div>
        </div>

         <div class="panel panel-default">
            <div class="panel-heading">
                Comments
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-comments">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Publish Date</th>
                                <th></th>
                            </tr>
                        </thead>
                   

                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
         <div class="panel panel-default">
           
            <div class="panel-body">
                 <div class="form-group">
                     <div class="checkbox">
                        <label>
                             @Html.EditorFor(m=> m.IsPublished,new { @class="form-control"})
                             @Html.DisplayNameFor(m=>m.IsPublished)
                        </label>
                     </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m=> m.PublishDate)
                    <div class='input-group date' id='datetimepicker1'>
                        @Html.TextBoxFor(m=> m.PublishDate,new { @class="form-control",required="required"})
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                 </div>
                <div class="form-group">
                    @Html.LabelFor(m=>m.CountOfViews)
                    @Html.TextBoxFor(m=> m.CountOfViews,new { @class="form-control",disabled="disabled"})
                </div>
                <input type="submit" class="btn btn-primary" value="Save Changes"  />
            </div>
        </div>

         <div class="panel panel-default">
            <div class="panel-heading">
                Category
            </div>
            <div class="panel-body">
                 <div class="form-group">
                   @Html.EditorFor(m=> m.CategoryId)
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                Tags
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <ul id="articleTags">
                       @if (Model.Tags != null)
                        {
                            foreach(string tag in Model.Tags)
                            {
                                <li>@tag</li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                Author
            </div>
            <div class="panel-body">
                 <div class="form-group">
                   @Html.EditorFor(m=> m.AuthorId)
                </div>
            </div>
        </div>
    </div>
</div>
}


 <!-- Modal -->
    <div class="modal fade" id="imageModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                    @using (Html.BeginForm("_NewImageAjax", "AdminArticle", FormMethod.Post, new { enctype = "multipart/form-data", id = "submit_image" }))
                    {
                        @Html.HiddenFor(m => m.ArticleId)
                      
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" >Add New Image</h4>
                    </div>
                    <div class="modal-body">
                                   
                            <div class="form-group">
                                   
                                <label for="Images" class="control-label">Image:</label>
                                <input type="file"  id="Images" name="Images">
                            </div>
                            <div class="form-group">
                                <label for="caption" class="control-label">Caption:</label>
                                <input type="text" class="form-control"  name="Caption">
                                </div>
                                <div class="form-group">
                                <label for="description" class="control-label">Description:</label>
                                <textarea class="form-control" name="Description"></textarea>
                                </div>
                                 
                                    
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input  type="submit" class="btn btn-primary" value="Save"/>
                    </div>
                    }
                               
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

<!-- Modal -->
    <div class="modal fade" id="EditimageModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                    @using (Html.BeginForm("_UpdateImageAjax", "AdminArticle", FormMethod.Post, new { enctype = "multipart/form-data", id = "update_submit_image" }))
                    {
                        @Html.HiddenFor(m => m.ArticleId)
                        <input type="hidden" name="ImageId" id="ImageId" />
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Edit Image</h4>
                    </div>
                    <div class="modal-body">
                             <div class="form-group">
                                 <img id="preview_img" src="" width="200" />
                             </div>
                            <div class="form-group">
                                
                                <label for="Images" class="control-label">Image:</label>
                                <input type="file"  id="Image" name="Image">

                            </div>
                            <div class="form-group">
                                <label for="caption" class="control-label">Caption:</label>
                                <input type="text" class="form-control" id="ImageCaption" name="Caption">
                            </div>
                            <div class="form-group">
                                <label for="description" class="control-label">Description:</label>
                                <textarea class="form-control" id="ImageDescription" name="Description"></textarea>
                            </div>    
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input  type="submit" class="btn btn-primary" value="Update"/>
                    </div>
                    }
                               
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
@using (Ajax.BeginForm("_ArticleImages", "AdminArticle", new { ArticleId = Model.ArticleId }, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "Images_div" }, new { id = "images_form" }))
{
    
}

@section Scripts{

    <script src="@Url.Content("~/Scripts/bootstrap/plugins/dataTables/jquery.dataTables.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap/plugins/dataTables/dataTables.bootstrap.js")"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>


    <script >
        $("#submit_image").submit(function () {

            var formData = new FormData($(this)[0]);

            $.ajax({
                url: "@Url.Action("_NewImageAjax", "AdminArticle")",
                type: 'POST',
                data: formData,
                async: false,
                success: function (data) {
                    $("#images_form").submit();
                    $('#imageModel').modal('hide');

                },
                cache: false,
                contentType: false,
                processData: false
            });

            return false;
        });

        $("#update_submit_image").submit(function () {

            var formData = new FormData($(this)[0]);

            $.ajax({
                url: "@Url.Action("_UpdateImageAjax", "AdminArticle")",
                type: 'POST',
                data: formData,
                async: false,
                success: function (data) {
                    $("#images_form").submit();
                    $('#EditimageModel').modal('hide');
                },
                cache: false,
                contentType: false,
                processData: false
            });

            return false;
        });

        function removeImage(id) {
            if (confirm("Are you sure you want to delete this image?")) {
                $.ajax({
                    url: "@Url.Action("_DeleteImage", "AdminArticle")",
                    type: 'POST',
                    data: { 'image_id': id },
                    success: function (data) {
                        if (data.Success)
                            $("#img_" + id).remove();
                    },
                });
            }
        }

        function editImage(id) {
            $.ajax({
                url: "@Url.Action("_GetImage", "AdminArticle")",
                type: 'POST',
                data: { 'ImageId': id },
                success: function (data) {
                    if (data.URL != "") {
                        $("#ImageCaption").val(data.Caption);
                        $("#ImageDescription").val(data.Description);
                        $("#preview_img").attr("src", data.URL);
                        $("#ImageId").val(data.ImageId);
                        $('#EditimageModel').modal('show');
                    }
                },
            });
        }
    </script>

   <!--Rich Text Editor -->

     
     <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
     <script src="@Url.Content("~/Scripts/jquery.hotkeys.js")"></script>
    <script src="@Url.Content("~/Scripts/google-code-prettify/prettify.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-wysiwyg.min.js")"></script>

    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")"></script>
    
   @* <script src="@Url.Content("~/Scripts/editor.js")"></script>*@
    <script src="@Url.Content("~/Scripts/tag-it.min.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@Url.Content("~/Scripts/bootstrap/moment.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap/bootstrap-datetimepicker.min.js")"></script>
    <script >
        function initToolbarBootstrapBindings() {
            //var fonts = ['Serif', 'Sans', 'Arial', 'Arial Black', 'Courier',
            //    'Courier New', 'Comic Sans MS', 'Helvetica', 'Impact', 'Lucida Grande', 'Lucida Sans', 'Tahoma', 'Times',
            //    'Times New Roman', 'Verdana'],
            //    fontTarget = $('[title=Font]').siblings('.dropdown-menu');

            //$.each(fonts, function (idx, fontName) {
            //    fontTarget.append($('<li><a data-edit="fontName ' + fontName + '" style="font-family:\'' + fontName + '\'">' + fontName + '</a></li>'));
            //});

            var headings = ['H1', 'H2', 'H3'],
                headingTarget = $('[title=Heading]').siblings('.dropdown-menu');

            $.each(headings, function (idx, headingName) {
                headingTarget.append($('<li><a data-edit="formatBlock ' + headingName + '" >' + headingName + '</a></li>'));
            });

            $('a[title]').tooltip({ container: 'body' });

            $('.dropdown-menu input').click(function () { return false; })
                .change(function () {
                    $(this).parent('.dropdown-menu').siblings('.dropdown-toggle').dropdown('toggle');
                }).keydown('esc', function () {
                    this.value = ''; $(this).change();
                });

            $('[data-role=magic-overlay]').each(function () {
                var overlay = $(this), target = $(overlay.data('target'));
                overlay.css('opacity', 0).css('position', 'absolute').offset(target.offset()).width(target.outerWidth()).height(target.outerHeight());
            });

        };

      

        initToolbarBootstrapBindings();

        $('#editor').wysiwyg();
        
        var cat_table;

        $(document).ready(function () {
            $('#articleTags').tagit({
                fieldName: "Tags",
                availableTags: [
                    @foreach (string tag in (List<string>)(ViewData["tags_Data"]))
                    {
                        <text>"@tag",</text>
                    }
                ],
                showAutocompleteOnFocus:true
            });
           @* $("#Description").Editor();
            $("#contentarea").html('@(Html.Raw(Model.Description.Replace("'","")))');*@
            $('#datetimepicker1').datetimepicker();

            cat_table = $('#dataTables-comments').DataTable({
                serverSide: true,
                "ajax":
                {
                    url: "/Admin/AdminArticle/_CommentsList",
                    type: 'POST',
                    'data': {
                        article_id : @Model.ArticleId
                        }
                },
                "columns": [
                             { "data": "Text" },
                             { "data": "AddDateString" },
                   {
                       "data": "CommentId",
                       "render": function (data, type, full, meta) {
                           return '<a  class="btn btn-danger btn-xs" onclick="DeleteComment(' + data + ');">Delete</a>';
                       },
                       "sortable": false
                   }
            ],
                "lengthMenu": [[10, 20, 50], [10, 25, 50]]

            });


        });
        window.prettyPrint && prettyPrint();
        $(document).submit(function () {
       
            $('#content_description').val($('#editor').html());

        });
        //$(document).submit(function () {
        //    $("#Description").val($("#contentarea").html());
            
        //});
        function DeleteComment(id) {
            if (confirm("Are you sure you want to delete this Comment?")) {
                $.ajax({
                    url: "@Url.Action("_DeleteComment", "AdminArticle")",
                type: 'POST',
                data: { 'comment_id': id },
                success: function (data) {
                    cat_table.ajax.reload(null,false);
                },
            });
        }
    }
        $(function () {
            $('[data-toggle="popover"]').popover()
        })

        var formSubmitting = false;
        var setFormSubmitting = function () { formSubmitting = true; };

        window.onload = function () {
            window.addEventListener("beforeunload", function (e) {
                var confirmationMessage = 'It looks like you have been editing something. ';
                confirmationMessage += 'If you leave before saving, your changes will be lost.';

                if (formSubmitting) {
                    return undefined;
                }

                (e || window.event).returnValue = confirmationMessage; //Gecko + IE
                return confirmationMessage; //Gecko + Webkit, Safari, Chrome etc.
            });
        };
    </script>
}
   