@model Sa3adaty.Core.ViewModels.Admin.Authors.AuthorViewModel

@{
    ViewBag.Title = "Edit Author";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section styles {
    <link href="@Url.Content("~/Content/bootstrap/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
}


<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Edit Author</h1>
    </div>
</div>
 @using (Html.BeginForm("Edit","AdminAuthor",FormMethod.Post)) {
     @Html.HiddenFor(a=> a.AuthorId)
<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                Autor Info
            </div>
            <div class="panel-body">
               <div class="form-group">
                    @Html.LabelFor(m=>m.Name )
                    @Html.TextBoxFor(m=> m.Name,new { @class="form-control",required="required"})
                </div>
                
                <div class="form-group">
                    @Html.LabelFor(m=>m.Title )
                    @Html.TextBoxFor(m=> m.Title,new { @class="form-control"})
                </div>

                <div class="form-group">
                    @Html.LabelFor(m=>m.URL )
                    @Html.TextBoxFor(m=> m.URL,new { @class="form-control",required="required"})
                </div>

                <div class="form-group">
                    @Html.LabelFor(m=>m.Email )
                    @Html.TextBoxFor(m=> m.Email,new { @class="form-control"})
                </div>

                <div class="form-group">
                    @Html.LabelFor(m=>m.FacebookPage )
                    @Html.TextBoxFor(m=> m.FacebookPage,new { @class="form-control"})
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.FacebookId)
                    @Html.TextBoxFor(m => m.FacebookId, new { @class = "form-control" })
                </div>

                 <div class="form-group">
                    @Html.LabelFor(m=>m.Description )
                    @Html.TextAreaFor(m=> m.Description,new { @class="form-control"})
                </div>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">
                Images
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <input type="button" class="btn btn-outline btn-primary btn-xs" data-toggle="modal" data-target="#imageModel" value="Add New Image"/>
                </div>
                <div class="form-group" id="Images_div">
                        @Html.Action("_AuthorImages","AdminAuthor", new { AuthorId = Model.AuthorId })
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                SEO
            </div>
            <div class="panel-body">
                <div class="form-group">
                    @Html.LabelFor(m => m.MetaTitle)  (<span id="mt_counter">@(50 - (Model.MetaTitle??"").Length)</span>) <span>characters remaining</span>
                    <i class="fa fa-info-circle hint-icon" data-toggle="popover" data-html="true" title="Meta Title Hints"
                       data-content="- Include Keyword at least once <br />- Make keyword closer to the begining of the sentence <br /> -Make it readable and friendly to the users"></i>
                    @Html.TextBoxFor(m => m.MetaTitle, new { @class = "form-control", onkeyup = "textCounter(this,'mt_counter',50)" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.MetaDescription)  (<span id="md_counter">@(155 - (Model.MetaDescription ?? "").Length)</span>) <span>characters remaining</span>
                    <i class="fa fa-info-circle hint-icon" data-toggle="popover" data-html="true" title="Meta Description Hints"
                       data-content="- Include Keyword at least once <br /> - Make it attractive to the user"></i>
                    @Html.TextBoxFor(m => m.MetaDescription, new { @class = "form-control", onkeyup = "textCounter(this,'md_counter',155)" })
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
         <div class="panel panel-default">
            <div class="panel-heading">
                Publish
            </div>
           
            <div class="panel-body">
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            @Html.EditorFor(m => m.IsProfileEnabled, new { @class = "form-control" })
                            @Html.DisplayNameFor(m => m.IsProfileEnabled)
                        </label>
                    </div>
                </div>
                <input type="submit" class="btn btn-primary" value="Save Changes"  />
            </div>
        </div>

        
    </div>
</div>
}

 <!-- Modal -->
    <div class="modal fade" id="imageModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                    @using (Html.BeginForm("_NewImageAjax", "AdminAuthor", FormMethod.Post, new { enctype = "multipart/form-data", id = "submit_image" }))
                    {
                        @Html.HiddenFor(m => m.AuthorId)
                      
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" >Add New Image</h4>
                    </div>
                    <div class="modal-body">
                                   
                            <div class="form-group">
                                   
                                <label for="Images" class="control-label">Image:</label>
                                <input type="file"  id="Images" name="Images">
                            </div>
                            <div class="form-group">
                                <label for="caption" class="control-label">Caption:</label>
                                <input type="text" class="form-control"  name="Caption">
                                </div>
                                <div class="form-group">
                                <label for="description" class="control-label">Description:</label>
                                <textarea class="form-control" name="Description"></textarea>
                                </div>
                                 
                                    
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input  type="submit" class="btn btn-primary" value="Save"/>
                    </div>
                    }
                               
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

<!-- Modal -->
    <div class="modal fade" id="EditimageModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                    @using (Html.BeginForm("_UpdateImageAjax", "AdminAuthor", FormMethod.Post, new { enctype = "multipart/form-data", id = "update_submit_image" }))
                    {
                        @Html.HiddenFor(m => m.AuthorId)
                        <input type="hidden" name="ImageId" id="ImageId" />
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Edit Image</h4>
                    </div>
                    <div class="modal-body">
                             <div class="form-group">
                                 <img id="preview_img" src="" width="200" />
                             </div>
                            <div class="form-group">
                                
                                <label for="Images" class="control-label">Image:</label>
                                <input type="file"  id="Image" name="Image">

                            </div>
                            <div class="form-group">
                                <label for="caption" class="control-label">Caption:</label>
                                <input type="text" class="form-control" id="ImageCaption" name="Caption">
                            </div>
                            <div class="form-group">
                                <label for="description" class="control-label">Description:</label>
                                <textarea class="form-control" id="ImageDescription" name="Description"></textarea>
                            </div>    
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input  type="submit" class="btn btn-primary" value="Update"/>
                    </div>
                    }
                               
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

@using (Ajax.BeginForm("_AuthorImages", "AdminAuthor", new { AuthorId = Model.AuthorId }, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "Images_div" }, new { id = "images_form" }))
{
    
}



@section Scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    

    <script src="@Url.Content("~/Scripts/bootstrap/moment.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap/bootstrap-datetimepicker.min.js")"></script>
    <script >
        $(document).ready(function () {
          
            $('#datetimepickerday').datetimepicker();
        });

        $("#submit_image").submit(function () {

            var formData = new FormData($(this)[0]);

            $.ajax({
                url: "@Url.Action("_NewImageAjax", "AdminAuthor")",
                type: 'POST',
                data: formData,
                async: false,
                success: function (data) {
                    $("#images_form").submit();
                    $('#imageModel').modal('hide');

                },
                cache: false,
                contentType: false,
                processData: false
            });

            return false;
        });

        $("#update_submit_image").submit(function () {

            var formData = new FormData($(this)[0]);

            $.ajax({
                url: "@Url.Action("_UpdateImageAjax", "AdminAuthor")",
                type: 'POST',
                data: formData,
                async: false,
                success: function (data) {
                    $("#images_form").submit();
                    $('#EditimageModel').modal('hide');
                },
                cache: false,
                contentType: false,
                processData: false
            });

            return false;
        });

        function removeImage(id) {
            if (confirm("Are you sure you want to delete this image?")) {
                $.ajax({
                    url: "@Url.Action("_DeleteImage", "AdminAuthor")",
                    type: 'POST',
                    data: { 'image_id': id },
                    success: function (data) {
                        if (data.Success)
                            $("#img_" + id).remove();
                    },
                });
            }
        }

        function editImage(id) {
            $.ajax({
                url: "@Url.Action("_GetImage", "AdminAuthor")",
                type: 'POST',
                data: { 'ImageId': id },
                success: function (data) {
                    if (data.URL != "") {
                        $("#ImageCaption").val(data.Caption);
                        $("#ImageDescription").val(data.Description);
                        $("#preview_img").attr("src", data.URL);
                        $("#ImageId").val(data.ImageId);
                        $('#EditimageModel').modal('show');
                    }
                },
            });
        }
     </script>
}
   