@using Sa3adaty.Core.ViewModels.Author
@using Sa3adaty.Core.ViewModels.Account
@model AuthorViewModel

@{
    ViewBag.Title = Model.MetaTitle;
    ViewBag.MetaDescription = Model.MetaDescription;
    //ViewBag.HTMLAttributes = "itemscope itemtype=\"http://schema.org/Article\"";

    SimpleUserViewModel current_user = null;
    if (WebSecurity.IsAuthenticated)
    {
        current_user = (SimpleUserViewModel)ViewBag.CurrentUser;
    }

}


@section MetaData{
    <!-- Schema.org markup for Google+ -->
    @*  <meta itemprop="name" content="@Model.MetaTitle">
        <meta itemprop="description" content="@Model.MetaDescription">
        <meta itemprop="image" content="@Html.AbsoluteArabicURL(Url.Content("~/" + Model.ImageURL))">*@

    <!-- Open Graph data -->
    <meta property="fb:app_id" content="@System.Configuration.ConfigurationManager.AppSettings["FacebookAppId"]" />
    <meta property="og:type" content="profile" />
    <meta property="og:site_name" content="sa3adaty.com" />
    <meta property="og:url" content="@Html.AbsoluteArabicURL(Url.Action("Author","Author", new { id = Model.URL }))" />
    <meta property="og:title" content="@Model.MetaTitle" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:description" content="@Model.MetaDescription" />
    <meta property="og:image" content="@Html.AbsoluteURL(Url.Content("~/" + Server.UrlEncode(Model.ImageURL)))" />
    @if (Model.FacebookId != null && Model.FacebookId != "")
    {
        <meta property="fb:profile_id " content="@Model.FacebookId" />
    }

    <!-- Twitter Card data -->
    @*<meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@("@Sa3adatyME")">
    <meta name="twitter:creator" content="@("@Sa3adatyME")">
    <meta name="twitter:title" content="@Model.MetaTitle">
    <meta name="twitter:description" content="@Model.MetaDescription">
    <meta name="twitter:image" content="@Html.AbsoluteURL(Url.Content("~/" + Server.UrlEncode(Model.ImageURL)))">*@




    <link rel="canonical" href="@Html.AbsoluteArabicURL(Url.Action("Author", "Author", new { id = Model.URL }))" />
}

@section Snippets
{
    @*<script type="application/ld+json">
        {
        "@@context": "http://schema.org",
        "@@type": "Article",
        "headline": "@Model.MetaTitle",
        "image": "@Html.AbsoluteArabicURL(Url.Content("~/" + Model.ImageURL))",
        "datePublished": "@Model.PublishDate.ToString("s")",
        "description": "@Model.MetaDescription"
        }
    </script>*@
}

@*<div class="top-list hidden-sm hidden-xs hidden-md">
        <div class="container">
            @Html.Partial("_RelatedTopList", (List<ListArticleViewModel>)(ViewBag.RelatedArticlesTop))
        </div>
    </div>*@
<div class="container top-banner-wrapper">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Top Responsive -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-1771671286404648"
         data-ad-slot="1247373392"
         data-ad-format="auto"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
<div class="container">
    <div class="row">
        @*Right Sectinon*@
        <div class="col-xs-32 col-lg-22 main-section">
            <div class="shadow-box article-wrapper" style="float:right;">
                <div class="white-background bread-crumb-wrapper col-xs-32">@Html.Partial("_BreadCrumb", (Sa3adaty.Core.ViewModels.BreadCrumbViewModel)ViewBag.BreadCrumb)</div>

                <article>
                    <header>
                        <div class="col-xs-32 article-box s-box" style="margin-bottom: 0px;">
                            <div class="col-xs-32 article-title">
                                <h1>@Model.Title</h1>
                                @if (!Model.Author.FullName.Contains("سعادتي"))
                                {
                                    @Html.Partial("_AuthorInfo", Model.Author)
                                }
                                <div class="article-title-side">
                                    @*<div class="article-info">
                                            <div class="info-like">
                                                @Html.FormatNumbers(Model.LikesCount.ToString())
                                            </div>
                                            <div class="three-dot-separator"></div>
                                            <div class="info-comment">
                                                @Html.FormatNumbers(Model.CommentsCount.ToString())
                                            </div>
                                        </div>*@
                                    <div class="article-date">@Html.FormatDate(Model.PublishDate)</div>
                                </div>
                            </div>
                        </div>
                    </header>
                    <div class="col-xs-32 article-image">
                        <img src="@Html.AbsoluteArabicURL(Url.Content("~/" + Model.ImageURL))" alt="@Model.Title" title="@Model.Title" width="700" height="395" />
                    </div>
                    <div class="col-xs-32 article-box">

                        <div class="col-xs-32 col-sm-16 article-like-wrapper">
                            @if (Model.IsLikedByCurrentUser)
                            {
                                <input type="submit" class="action-btn liked-btn" value="أعجبني" style="margin-top:20px" disabled="disabled" />
                            }
                            else
                            {
                                if (WebSecurity.IsAuthenticated)
                                {
                                    using (Ajax.BeginForm("_likeArticle", "Article", new { article_id = Model.ArticleId }, new AjaxOptions() { OnSuccess = "like_article_success" }, new { novalidate = "novalidate" }))
                                    {
                                        <input type="submit" class="action-btn like-btn" value="أعجبني" style="margin-top:20px" id="like-btn" />
                                    }
                                }
                                else
                                {
                                    <a class="action-btn like-btn" style="margin-top:20px" href="@Html.AbsoluteArabicURL(Url.Action("Login", "Account", new { returnUrl = Request.RawUrl }))">أعجبني</a>
                                }
                            }
                        </div>

                        <div class="clearfix"></div>
                        <hr />

                        <div class="article-text">
                            @Html.Raw(Html.ReplaceHashTags(Model.Description))
                            <section>
                                <h2 class="more_articles">اقرأ أيضا:</h2>
                                <ul class="more_articles_list">
                                    @foreach (ListArticleViewModel art in ((List<ListArticleViewModel>)(ViewBag.RelatedArticlesBottom)).Take(3).ToList())
                                    {
                                        <li><a href="@Html.AbsoluteArabicURL(Url.Action("Article","Article", new { id = art.URL}))">@art.Title </a></li>
                                    }
                                </ul>
                            </section>
                        </div>

                        <div class="col-xs-32" style="padding:0px;margin-top: 10px;text-align:center;margin-bottom:10px;">

                            <div class="social-share-wrapper">
                                <div class="fb-like" data-href="@Html.AbsoluteArabicURL(Request.RawUrl.Contains("?")?Request.RawUrl.Substring(0, Request.RawUrl.IndexOf("?")):Request.RawUrl)" data-layout="box_count" data-action="like" data-show-faces="false" data-share="false"></div>
                            </div>
                            <div class="social-share-wrapper">
                                <div class="fb-share-button" data-href="@Html.AbsoluteArabicURL(Request.RawUrl.Contains("?")?Request.RawUrl.Substring(0, Request.RawUrl.IndexOf("?")):Request.RawUrl)" data-layout="box_count"></div>
                            </div>
                            <div class="social-share-wrapper">
                                <div class="g-plus" data-action="share" data-annotation="vertical-bubble" data-height="60"></div>
                            </div>
                            <div class="social-share-wrapper">
                                <div class="g-plusone" data-size="tall"></div>
                            </div>
                            <div class="social-share-wrapper">
                                <a href="https://twitter.com/share" data-count="vertical" class="twitter-share-button" data-via="Sa3adatyME" data-lang="en">Tweet</a>
                                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                            </div>

                        </div>
                        <hr />
                        <div class="col-xs-32" style="padding:0px">
                            @foreach (string tag in Model.Tags)
                            {
                                <a href="@Html.AbsoluteArabicURL(Url.Action("ListByTag","Category", new { id = tag.Replace("_","-")}))" class="tag-box">@tag</a>
                            }
                        </div>

                        <hr style="float: right;  width: 100%;" />
                        @*Comments*@

                        <div class="col-xs-32 article-comments">
                            <div class="row">
                                <div class="article-comments-title col-xs-32">
                                    <div class="continues-dot-separator">
                                        <span>تعليقات</span>

                                    </div>
                                </div>
                            </div>

                            <div id="comments-container">
                                @if (Model.Comments.Count() > 0)
                                {
                                    @Html.Partial("_CommentsList", Model.Comments)

                                }
                                else
                                {
                                    <div>لا يوجد أي تعليقات بعد، كن أول من يعلق</div>
                                }

                            </div>

                            <hr />
                            @if (WebSecurity.IsAuthenticated)
                            {
                                using (Ajax.BeginForm("_commentArticle", "Article", new { article_id = Model.ArticleId }, new AjaxOptions() { OnSuccess = "comment_article_success", OnFailure = "comment_article_failure", OnBegin = "comment_article_start", LoadingElementId = "loading-img" }, new { novalidate = "novalidate" }))
                                {
                                    <div class="row article-reply-wrapper">
                                        <div class="col-lg-3 col-xs-3 comment-img">
                                            @if (current_user != null && ((SimpleUserViewModel)ViewBag.CurrentUser).ImageUrl != null)
                                            {
                                                <img src="@Html.AbsoluteArabicURL(Url.Content("~/" + current_user.ImageUrl))" alt="@current_user.Name" title="@current_user.Name" width="45" height="45" />
                                            }
                                            else
                                            {
                                                <img src="@Html.AbsoluteImagePath(Url.Content("~/Content/images/small-avatar.png"))" alt="صورة المستخدم" width="45" height="45" />
                                            }
                                        </div>
                                        <div class="col-lg-29">
                                            <textarea class="article-comment-area" name="text" id="comment-text"></textarea>

                                        </div>
                                        <div class="col-lg-32 text-right"><input type="submit" class="action-btn" value="أضف تعليق" id="add-comment-btn" onclick="return checkIfNotBlank('#comment-text');" /></div>
                                        <img id="loading-img" class="ajax-loader" src="/Content/images/loading.gif" style="display:none;" />
                                    </div>
                                }

                                <input type="hidden" id="reply_comment_id" />

                                <div class="row article-reply-wrapper" id="reply_form" style="display:none;">
                                    <div class="col-lg-3 col-xs-3 comment-img">
                                        @if (current_user != null && ((SimpleUserViewModel)ViewBag.CurrentUser).ImageUrl != null)
                                        {
                                            <img src="@Html.AbsoluteArabicURL(Url.Content("~/" + current_user.ImageUrl))" alt="@current_user.Name" title="@current_user.Name" width="45" height="45" />
                                        }
                                        else
                                        {
                                            <img src="@Html.AbsoluteImagePath(Url.Content("~/Content/images/small-avatar.png"))" alt="صورة المستخدم" width="45" height="45" />
                                        }

                                    </div>
                                    <div class="col-lg-29">
                                        <textarea class="article-comment-area" name="text" id="comment-reply-text"></textarea>
                                    </div>
                                    <div class="col-lg-32 text-right"><input type="button" class="action-btn" value="أضف رد" id="add-reply-btn" onclick="return addReply();" /></div>
                                    <img class="ajax-loader" id="reply-loader" src="/Content/images/loading.gif" style="display:none;" />
                                </div>
                            }
                            else
                            {
                                <div class="row" style="padding: 0px 30px;position:relative;">
                                    <div class="col-lg-3 col-xs-3 comment-img">
                                        @if (current_user != null && ((SimpleUserViewModel)ViewBag.CurrentUser).ImageUrl != null)
                                        {
                                            <img src="@Html.AbsoluteArabicURL(Url.Content("~/" + current_user.ImageUrl))" alt="@current_user.Name" title="@current_user.Name" width="45" height="45" />
                                        }
                                        else
                                        {
                                            <img src="@Html.AbsoluteImagePath(Url.Content("~/Content/images/small-avatar.png"))" alt="صورة المستخدم" width="45" height="45" />
                                        }
                                    </div>
                                    <div class="col-lg-29">
                                        <textarea class="article-comment-area" name="text" disabled="disabled"></textarea>

                                    </div>
                                    <div class="col-lg-32 text-right">
                                        <a class="action-btn" style="margin-top:20px" href="@Html.AbsoluteArabicURL(Url.Action("Login", "Account", new { returnUrl = Request.RawUrl }))">سجل دخولك لإضافة تعليق</a>
                                    </div>

                                </div>
                            }
                        </div>
                    </div>
                </article>
            </div>

            <div class="s-box"></div>

            <section>
                @Html.Partial("_RelatedBottomList", ((List<ListArticleViewModel>)(ViewBag.RelatedArticlesBottom)).Skip(3).ToList())
            </section>

            <div class="hidden-sm hidden-xs hidden-md">
                @Html.Partial("~/Views/Newsletter/_SubscribeBig.cshtml")
            </div>
        </div>

        @*Left Sectinon*@
        <div class="col-xs-32 col-lg-10 left-section">
            <aside>
                @Html.Partial("~/Views/Newsletter/_SubscribeSmall.cshtml")

                <div class="s-box" style="float:right;width:100%;height:250px;text-align:center;">

                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- Test1For Approve -->
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:300px;height:250px"
                         data-ad-client="ca-pub-1771671286404648"
                         data-ad-slot="5969584599"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
                <section>
                    @Html.Partial("_LeftListWide", (List<ListArticleViewModel>)(ViewBag.LatestArticlesLeft))
                </section>

                <section class="col-xs-32 " style="padding:0px;margin-bottom:20px">
                    @Html.Action("_DailyPoll", "Home")
                </section>

            </aside>
        </div>

    </div>
</div>

@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    
}
