@model Sa3adaty.Core.ViewModels.Account.ForgotPasswordModel

@{
    ViewBag.Title = "نسيت كلمة السر";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 <div class="container">
    
    <div class="login_form col-xs-32">
        <a href="@Html.AbsoluteArabicURL(Url.Action("Login"))"><div class="col-xs-16 login-tab login-inactive-tab" id="login-tab" onclick="showLogin()">تسجيل الدخول</div></a>

        <a href="@Html.AbsoluteArabicURL(Url.Action("Register"))"><div class="col-xs-16 login-tab login-inactive-tab" id="signup-tab" onclick="showSignUp()">إنشاء حساب جديد</div></a>
             
        <div class="col-xs-12 col-xs-offset-10 forget-tab-content" style="padding:0px;"> 
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { autocomplete = "off"}))
            {
                @Html.AntiForgeryToken()
                
                <div class="title-blue" style="text-align:center;">هل نسيت كلمة السر؟</div>
                <div style="text-align:center;margin-bottom:20px">أدخل عنوان بريدك الإلكتروني وسنقوم بارسال رابط لإعادة تعيين كلمة السر</div>
                    
                <div><label >البريد الإلكتروني</label><span class="required-star">*</span></div>
                <div id="login_email_div" style="position:relative;margin-bottom:20px">
                    @Html.TextBoxFor(m => m.Email, new { id = "forget-email", @class = "login-email" })
                </div>
                
                <div style="text-align:center;margin-bottom:20px"><input type="submit" class="action-btn" value="أرسل الرابط" onclick="return validateForget()"></div>
            }
        </div>
    </div>
</div>

@section Scripts{
    
    <script>
        $(document).ready(function () {
            $("#forget-email").focus(function () {
                if ($(this).hasClass("required")) {
                    $(this).val("");
                    $(this).removeClass("required");
                }
            }).blur(function () {
                validateEmail(this);
            });

        });

        function validateForget() {
            if ($("#forget-email").hasClass("required") || !checkIfNotBlank($("#forget-email"))) {
                $("#forget-email").focus();
                return false;
            }
            return true;
        }

            function validateEmail(input) {
                if (checkIfNotBlank(input)) {
                    $.post("@Url.Action("_IsAvailableEmail", "Account")", { email: $(input).val() })
                     .done(function (data) {
                         if (data.isvalid == true) {
                             if (data.isavailable) {
                                 $(input).addClass("required");
                                 $("#login_email_div").find(".valid_div").remove();
                                 $("#login_email_div").append(invalid_div);
                                 $(input).val("البريد الإلكتروني غير موجود");

                             }
                             else {
                                 $("#login_email_div").find(".invalid_div").remove();
                                 $("#login_email_div").append(valid_div);
                             }
                         }
                         else {
                             $(input).addClass("required");
                             $("#login_email_div").find(".valid").remove();
                             $("#login_email_div").append(invalid_div);
                             $(input).val("البريد الإلكتروني خاطئ");
                         }
                      

                     })
                     .fail(function () {
                     })
                     .always(function () {
                     });
                }
                else {
                    $("#login_email_div").find(".valid_div").remove();
                    $(input).val("الرجاء ادخل البريد اللإلكتروني");
                }
            }

            var valid_div = "<div class='valid_div'></div>";
            var invalid_div = "<div class='invalid_div'></div>";
    </script>
    
}