@model Sa3adaty.Core.ViewModels.Account.ResetPasswordModel
@{
    ViewBag.Title = "استعادة كلمة السر";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 <div class="container">
    
    <div class="login_form col-xs-32">
        <a href="@Html.AbsoluteArabicURL(Url.Action("Login"))"><div class="col-xs-16 login-tab login-inactive-tab" id="login-tab" onclick="showLogin()">تسجيل الدخول</div></a>

        <a href="@Html.AbsoluteArabicURL(Url.Action("Register"))"><div class="col-xs-16 login-tab login-inactive-tab" id="signup-tab" onclick="showSignUp()">إنشاء حساب جديد</div></a>
             
        <div class="col-xs-12 col-xs-offset-10 forget-tab-content" style="padding:0px;"> 
           @if(Model.IsSuccess == false)
           {
            <div class="title-blue" style="text-align:center;">استعادة كلمة السر!</div>
            <div style="text-align:center;margin-bottom:20px">الرجاء ادخال كلمة السر الجديدة</div>
                using (Html.BeginForm())
                {
                   @Html.AntiForgeryToken()
 
                    <div ><label >كلمة السر الجديدة</label><span class="required-star">*</span></div>
                    <div id="password_div" style="position:relative;">
                        @Html.PasswordFor(m => m.Password, new { id = "login-password", @class = "login-password" })
                    </div>
                    
                    <div ><label >تأكيد كلمة السر</label><span class="required-star">*</span></div>
                      <div id="confirm_div" style="position:relative;">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { id = "login-confirm", @class = "login-password" })
                    </div>     
                    
                    <div style="text-align:center;margin-bottom:20px"><input type="submit" class="action-btn" value="إعادة التعيين" onclick="return validateForget()"></div>
                         @Html.HiddenFor(m => m.ReturnToken)
                     
                    <h2>@ViewBag.Message</h2>
                }
           }
           else
           {
                <div class="title-blue" style="text-align:center;">لقد تم استعادة كلمة السر الخاصة بك بنجاح</div>
                <div style="text-align:center;margin-bottom:20px">يمكنك الآن تسجيل الدخول باستخدام كلمة السر الجديدة</div>
               
               <div style="text-align:center;margin-bottom:20px"><a href="@Html.AbsoluteArabicURL(Url.Action("Login"))" class="green-link">تسجيل الدخول</a></div>
           }
        </div>

    </div>
</div>

@section Scripts{
    
    <script>
        $(document).ready(function () {
            $("#login-confirm").focus(function () {
                if ($(this).hasClass("required")) {
                    $(this).val("");
                    $(this).removeClass("required");
                    $(this).attr("type", "password");
                }
            }).blur(function () {
                validateMatching(this);
            });

            $("#login-password").focus(function () {
                if ($(this).hasClass("required")) {
                    $(this).val("");
                    $(this).removeClass("required");
                    $(this).attr("type", "password");
                }
            }).blur(function () {
                validatePassword(this);
            });

        });

        function validateMatching(input) {
            if ($("#login-password").val() != $("#login-confirm").val()) {
                $(input).addClass("required");
                $("#confirm_div").find(".valid_div").remove();
                $(input).attr("type", "text");
                $(input).val("كلمة السر غير مطابقة");
            }
        }

        function validatePassword(input) {
            if (checkIfNotBlank(input)) {
                $.post("@Url.Action("_IsValidPassword","Account")", { password: $(input).val() })
                 .done(function (data) {
                     if (data.isvalid == true) {
                         $("#password_div").append(valid_div);
                     }
                     else {
                         $(input).addClass("required");
                         $("#password_div").find(".valid_div").remove();
                         $(input).attr("type", "text");
                         $(input).val("كلمة السر من 6-20 خانة");
                     }

                 })
                 .fail(function () {
                 })
                 .always(function () {
                 });
            }
            else {
                $("#password_div").find(".valid_div").remove();
                $(input).attr("type", "text");
                $(input).val("الرجاء ادخل كلمة السر");
            }
        }

        function validateForget() {
            if ($("#login-password").hasClass("required") || !checkIfNotBlank($("#login-password"))) {
                $("#login-password").focus();
                return false;
            }
            if ($("#login-confirm").hasClass("required") || !checkIfNotBlank($("#login-confirm"))) {
                $("#login-confirm").focus();
                return false;
            }
            return true;
        }
    </script>
    }