@using Sa3adaty.Core.ViewModels.Videos

@model ListVideoViewModel

<div class="horizontal-list-item horizontal-video-list-item">
    <div class="col-xs-32 horizontal-list-image horizontal-list-video">
        <a href="@Html.AbsoluteArabicURL(Url.Action("video","Video", new { id = Model.URL }))"> <img class="article-img" src="@Html.AbsoluteImagePath(Url.Content("~/"+Model.ImageURL))" alt="@Model.Title" title="@Model.Title" width="214" height="185" /></a>
        <span class="video-time">@Model.DurationMinutes:@Model.DurationSeconds </span>
        <div class="video-thumb-overlay"></div>
        <img class="video-overlay-image" src="@Url.Content("~/Content/images/video-play-overlay.png")" />
    </div>
    <div class="horizontal-list-details col-xs-32" >
        @* <div class="article-info">
                <div class="info-like">
                    @Html.FormatNumbers(Model.LikesCount.ToString())
                </div>
                <div class="three-dot-separator"></div>
                <div class="info-comment">
                    @Html.FormatNumbers(Model.CommentsCount.ToString())
                </div>
            </div>*@
        <div class="horizontal-vidoeo-list-maininfo">
            <div class="horizontal-list-title">
                <a class="list-article-title" href="@Html.AbsoluteArabicURL(Url.Action("video","Video", new { id = Model.URL }))">@Model.Title </a>
            </div>
        </div>
       
    </div>

</div>