@model Sa3adaty.Core.ViewModels.Account.LoginModel
<!DOCTYPE html>
<html lang="en">
  <head>
         
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
     <link rel="icon" type="image/png" href="~/sa3adaty_favicon.png">

    <title>Admin Login</title>

    <!-- Bootstrap core CSS -->
    <link href="@Url.Content("~/Content/bootstrap/bootstrap.min.css")" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="@Url.Content("~/Scripts/bootstrap/ie10-viewport-bug-workaround.js")"></script>



    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
  </head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                         @using (Html.BeginForm("Login","AdminAccount",new { ReturnUrl = ViewBag.ReturnUrl,Area ="Admin" },FormMethod.Post,new{@class="form-signin",role="form"})) {
                         @Html.AntiForgeryToken()
                         @Html.ValidationSummary(true)

                            <fieldset>
                                <div class="form-group">
                                     <input type="email" name="Email" id="Email" class="form-control" placeholder="Email address" required autofocus>
                                </div>
                                <div class="form-group">
                                    <input type="password" id="Password" name="Password" class="form-control" placeholder="Password" required>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                    </label>
                                </div>
                                 <button class="btn btn-lg btn-success btn-block" type="submit">Sign in</button>
                             
                            </fieldset>
                         }
                      
                            
                       
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
     @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/bootstrap/ie10-viewport-bug-workaround.js"></script>
   
  </body>
</html>