@model Sa3adaty.Core.ViewModels.Admin.User.UserViewModel 

@{
    ViewBag.Title = "New User";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section styles {
    <link href="@Url.Content("~/Content/bootstrap/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
}


<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Add New User</h1>
    </div>
</div>
 @using (Html.BeginForm("New", "User", FormMethod.Post, new {  enctype = "multipart/form-data" }))
 {
<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                User Info
            </div>
            <div class="panel-body">
                <div class="form-group">
                    @Html.LabelFor(m=>m.Email)
                    @Html.TextBoxFor(m=> m.Email,new { @class="form-control",required="required"})
                </div>
                 <div class="form-group">
                    @Html.LabelFor(m=>m.Password)
                    @Html.PasswordFor(m=> m.Password,new { @class="form-control",required="required"})
                </div>
                 <div class="form-group">
                    @Html.LabelFor(m=>m.ConfirmPassword)
                    @Html.PasswordFor(m=> m.ConfirmPassword,new { @class="form-control",required="required"})
                </div>
                <div class="form-group">
                    @Html.LabelFor(m=>m.Name)
                    @Html.TextBoxFor(m=> m.Name,new { @class="form-control",required="required"})
                </div>
                <div class="form-group">
                    <label for="Images" class="control-label">Image:</label>
                    <input type="file"  id="Images" name="Images">
                </div>
                <div class="form-group">
                    @Html.LabelFor(m=> m.DateOfBirth)
                    <div class='input-group date' id='datetimepickerbirth'>
                        @Html.TextBoxFor(m=> m.DateOfBirth,new { @class="form-control"})
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                 </div>
               
                <div class="form-group">
                    @Html.LabelFor(m=>m.FirstName)
                    @Html.TextBoxFor(m=> m.FirstName,new { @class="form-control"})
                </div>
                <div class="form-group">
                    @Html.LabelFor(m=>m.MiddleName)
                    @Html.TextBoxFor(m=> m.MiddleName,new { @class="form-control"})
                </div>
                <div class="form-group">
                    @Html.LabelFor(m=>m.LastName)
                    @Html.TextBoxFor(m=> m.LastName,new { @class="form-control"})
                </div>
            </div>
        </div>

        
    </div>

    <div class="col-lg-4">
         <div class="panel panel-default">
            <div class="panel-heading">
                Publish
            </div>
            <div class="panel-body">
                <input type="submit" class="btn btn-primary" value="Save Changes"  />
            </div>
        </div>

       
    </div>
</div>
}



@section scripts {
   <!--Rich Text Editor -->
    <script src="@Url.Content("~/Scripts/editor.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap/moment.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap/bootstrap-datetimepicker.min.js")"></script>
    

    <script >
        $(function () {
            $('#datetimepickerbirth').datetimepicker();
        });
    </script>
}
   